.form-group{
    display: flex;
    flex-direction: column;
    width: clamp(250px,65%,70%);
    background-color: aqua;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.form-group label{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#gender-sec{
    flex-direction: row;
    gap: 25%;
}